<div class="wrapper">
  <%= render "devise/shared/header" %>

  <div class="mein">
    <%= link_to image_tag("top.png", class:"top_img"), "/" %>
    <div class="top-content">
      <h2 class="top-title">Money Frest</h2>
      <div class="top-text">
        <p>家計簿卒業のための家計管理システム<br>
        家計の健康状態が一目でわかる</p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'ログアウト ＞', destroy_user_session_path, method: :DELETE, class:"btn btn-secondary btn-sm rounded-pill" %>



