<%# ログアウトユーザーヘッダー %>
<header class="header">
  <div class='logo'>
    <%= link_to 'Money forest', new_user_registration_path %>
  </div>
  <div class='button'>
    <div class='login-btn'>
      <%= link_to 'ログイン ＞', new_user_session_path, class:"btn btn-secondary btn-sm" %>
    </div>
    <div class='signin-btn'>
      <%= link_to 'アカウント作成 ＞', new_user_registration_path, class:"btn btn-secondary btn-sm" %>
    </div>
  </div>
</header>