  <header class="header">
    <div class='logo'>
      <%= link_to 'Money forest', new_user_registration_path %>
    </div>
    <div class='signin'>
      <%= link_to 'サインイン ＞', new_user_registration_path, class:"btn btn-secondary" %>
  </header>