<div class="wrapper">
  <%= render "shared/header" %>
  <div class="book-mein">
  
    <!-- 仕分編集フォーム -->
    <%= render partial: 'form', locals: {url: book_path(@debit.id), method: :patch} %>
  </div>
</div>